<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Info</title>
</head>
<body>
    <h1>Student Information</h1>
    <form action="{% url 'greeting' %}" method="post">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="school">School:</label><br>
        <input type="text" id="school" name="school"><br>
        <label for="grade">Grade:</label><br>
        <input type="text" id="grade" name="grade"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
